@media only screen and (max-width: 600px) {
    p {
        font-size: 90%;
    }
    .headshot {
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }
}
@media only screen and (min-width: 768px) {
    p {
        font-size: 24px;
    }
}
.logo {
    border-radius: 50%;
}

h1 {
    font-family: cursive;
}

h2 {
    text-align: center;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headshot {
    float: right;
    padding: 30px;
}

a:hover {
    color: rgb(99, 92, 92);
  }

#banner {
    background-color: purple;
}

.contact {
    background-color: purple;
}

#head {
    border-radius: 50%;
}

